---
layout: home
---

<h1 id="owner_name">Hi, I'm {{ site.first_name }}</h1>
<div id="social-icons">
  {% if site.github %}
  <a href="{{ site.github }}" target="_blank"><i class="fab fa-github" style="color: #24292e;"></i></a>
  {% endif %}
  {% if site.linkedin %}
  <a href="{{ site.linkedin }}" target="_blank"><i class="fab fa-linkedin" style="color: #2867b2;"></i></a>
  {% endif %}
  {% if site.facebook %}
  <a href="{{ site.facebook }}" target="_blank"><i class="fab fa-facebook" style="color: #4267B2;"></i></a>
  {% endif %}
  {% if site.instagram %}
  <a href="{{ site.instagram }}" target="_blank"><i class="fab fa-instagram" style="color: #E1306C;"></i></a>
  {% endif %}
  {% if site.twitter %}
  <a href="{{ site.twitter }}" target="_blank"><i class="fab fa-twitter" style="color: #1DA1F2;"></i></a>
  {% endif %}
</div>

<p id="about">{{ site.about }}</p>

{% if site.quote %}
<div class="w3-panel w3-light-grey">
  <span style="font-size:150px;line-height:0.6em;opacity:0.2">❝</span>
  <p class="w3-large" style="margin-top:-40px"><i>{{ site.quote }}</i><br><strong
      class="w3-margin-top">{{ site.quote_author }}</strong></p>
</div>
{% endif %}

<h2 style="font-weight: bold;">Recommanded</h2>
<ul id="post-list" class="">
  {% for post in site.posts %}
  {% if post.recommanded %}
  <li>
    <div class="w3-row">
      <div class="w3-col l9">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </div>
      <div class="w3-col l3 post-date">
        <span>{{ post.date | date: "%B %d, %Y"}}</span>
      </div>
    </div>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h2 style="font-weight: bold;">Blog posts</h2>

<ul id="post-list" class="">
  {% for post in site.posts %}
  {% if post.recommanded %}
  {% continue %}
  {% endif %}
  <li>
    <div class="w3-row">
      <div class="w3-col l9">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </div>
      <div class="w3-col l3 post-date">
        <span>{{ post.date | date: "%B %d, %Y"}}</span>
      </div>
    </div>
  </li>

  {% endfor %}
</ul>