---
layout: home
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="post">
  <p class="post-date">{{ post.date | date_to_long_string }}</p>
  <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <br>

</div>
{% endfor %}

<hr>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous">
    Previous
  </a>
  {% else %}
  {% endif %}

  <span style="text-align: center;" class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>

  {% if paginator.next_page %}
  <a style="text-align: right;" href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
  {% endif %}
</div>

<hr>