<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}

    
</head>

<body>


    {{ $format := "2 Jan 2006" }}

    {{ partial "navbar.html" . }}


    <h1>{{ .Title }}</h1>
    <p>{{ .Date.Format $format }}</p>
    <hr style="margin-bottom: 64px;">

    {{ .Content }}

</body>

</html>