---
layout: default
---

<p class="post-date">{{ page.date | date: "%B %d, %Y"}}</p>
<h1 id="">{{ page.title }}</h1>
<img src="{{ site.baseurl }}/{{ page.image }}" alt="">

<!-- Toc if any -->
{% if page.toc %}
{% if page.beforetoc %}
<p><em>{{page.beforetoc}}</em></p>
{% endif %}
<div class="toc">
    <h3 class="font-weight-bold">Table of content</h3>
    {% include toc.html html=content %}
</div>
{% endif %}

{% if post.description %}
<div class="w3-panel w3-light-grey">
    <span style="font-size:150px;line-height:0.6em;opacity:0.2">❝</span>
    <p class="w3-large" style="margin-top:-40px"><i>{{ page.description }}</i></p>
</div>
{% endif %}

{{ content }}

<hr>

<div class="pagination ">
    <div class="w3-row">
        {% if page.previous.url %}
        <a href="{{ site.baseurl }}{{ page.previous.url }}"
            class="w3-left w3-margin-bottom">
            &lt;&lt; {{ page.previous.title }}
        </a>
        
        {% endif %}
        {% if page.next.url %}
        <a href="{{ site.baseurl }}{{ page.next.url }}"
            class="w3-right">{{ page.next.title }} &gt;&gt;</a>
        {% endif %}
    </div>

</div>

<hr>

<br>