---
title: "Tags"
layout: default
permalink: "/tags.html"
---




<div>

    <div>
        <h2 style="font-weight: bold;">Tags</h2>

        {% assign tag_list = site.tags %}
        {% if tag_list.first[0] == null %}
        {% for tag in tag_list %}

        <a href="{{site.baseurl}}/tags#{{ category | url_escape | strip | replace: ' ', '-' }}"
            class="w3-button w3-light-gray w3-margin-right w3-medium">{{ tag | camelcase }}
            <span class="w3-badge w3-margin-left w3-light-gray">{{ site.tags[tag].size }}</span>
        </a>

        {% endfor %}
        {% else %}
        {% for tag in tag_list %}

        <a href="{{site.baseurl}}/tags#{{ tag[0] | url_escape | strip | replace: ' ', '-' }}"
            class="w3-button w3-light-gray w3-margin-right w3-medium">{{ tag[0] | camelcase }}
            <span class="w3-badge w3-margin-left w3-light-gray">{{ tag[1].size }}</span>
        </a>

        {% endfor %}
        {% endif %}
        {% assign tag_list = nil %}
    </div>

    <hr>

    {% for tag in site.tags %}
    <h2 style="font-weight: bold;">Tag: <span>'{{ tag[0] }}'</span></h2>
    {% assign pages_list = tag[1] %}
    <ul id="post-list" class="">
        {% for post in pages_list %}
        {% if post.recommanded %}
        {% continue %}
        {% endif %}
        <li>
            <a href="" name="{{ tag[0] }}"></a>
            <div class="w3-row">
                <div class="w3-col l9">
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </div>
                <div class="w3-col l3 post-date">
                    <span>{{ post.date | date: "%B %d, %Y"}}</span>
                </div>
            </div>
        </li>

        {% endfor %}
    </ul>
    {% endfor %}
</div>